.profile__btn_edit {
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url(../../../../images/icon-edit.svg);
  padding: 0;
  border: 1px solid #ffffff;
  align-self: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .profile__btn_edit {
    width: 18px;
    height: 18px;
  }
}
