.elements {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 18px;
  row-gap: 21px;
  border-radius: 10px;
}

@media screen and (max-width: 400px) {
  .elements {
    row-gap: 20px;
  }
}
