.header__section {
  max-width: 882px;
  width: 70%;
  margin: 0 auto 37px;
  padding: 0;
  box-sizing: border-box;
  min-height: 74px;
}

@media screen and (max-width: 1265px) {
  .header__section {
    width: 80%;
  }
}

@media screen and (max-width: 1120px) {
  .header__section {
    width: 82%;
  }
}

@media screen and (max-width: 768px) {
  .header__section {
    width: 88%;
  }
}

@media screen and (max-width: 500px) {
  .header__section {
    width: 100%;
    margin: 0 0 42px;
    min-height: 56px;
  }
}
